.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

h3{
    color: white;
}

p{
    color: gray;
}

.fa-star:not(.checked) {
  color: white;
}

.offcanvas-body {
  overflow: visible !important;
  position: relative;
}

.dropdown-menu {
  z-index: 2000; /* Must be higher than the offcanvas (which is 1050–1060) */
}